{% extends 'StudentSite/index.html' %}
{% block title %}<title>Алгоритм Уоршала</title>{% endblock %}
{% block header %}{% include 'StudentSite/header_base.html' %}{% endblock %}
{% block body %}
    {% include 'StudentSite/forms/warshalls_control_form.html' %}
    {% load staticfiles %}

    <script src="{% static 'StudentSite/scripts/warshalls_scripts.min.js' %}"></script>
    <script>fillMatrix()</script>

    {% if result == True %}
        <h2>Правильное решение!</h2>
        {% if is_of_order == True %}
            <a href="{% url "student_site:control_topological_sort" %}">Перейти к топологической сортировке</a>
        {% else %}
            <a href="{% url "student_site:index" %}">Завершить выполнение контроля</a>
        {% endif %}
    {% elif result == False %}
        <h2>Решено с ошибками!</h2>
    {% endif %}

{% endblock %}

