{% extends 'StudentSite/index.html' %}
{% block title %}<title>Демо-режим</title>{% endblock %}
{% block header %}
    {% include 'StudentSite/header_base.html' %}
{% endblock %}
{% block body %}
    {% load staticfiles %}
    <h4>{{ task.task_text }}</h4>
    {% include 'StudentSite/forms/task_form.html' %}
    <script src="{% static 'StudentSite/scripts/demo_scripts.js' %}"></script>

    <div id="warshalls_block" style="display: none; clear: both">
        {% include 'StudentSite/forms/warshalls-form.html' %}
        <style>
            #warshalls_block #task_table {
                display: none;
            }
            #warshall_answers-form {
                display: none;
            }
        </style>
    </div>

    <div id="topological_sort_block" style="display: none;">
        {% include 'StudentSite/forms/topological_sort_form.html' %}
        <style>
            #topological_sort_block #task_table_topological {
              display: none;
            }
            #topological_answers_form input {
               display: none;
            }
        </style>
    </div>

    <div id="demo-helper" style="display: block; clear: both">
        <p id="demo-text-view"></p>
        <button onclick="previousMove()">Назад</button>
        <button onclick="nextMove()">Вперед</button>
    </div>
    <script>initiate({{ json_data|safe }})</script>

{% endblock %}