{% extends 'StudentSite/index.html' %}
{% block title %}<title>Демо-режим</title>{% endblock %}
{% block header %}{% include 'StudentSite/header_base.html' %}{% endblock %}
{% block body %}
    <h4>{{ task.to_human_readable }}</h4>
    {% include 'StudentSite/components/matrix.html' %}
    {% include 'StudentSite/components/graph.html' %}
    {% include 'StudentSite/components/properties.html' %}
    <div id="demo_tips_control_block" style="clear: both">
        <div id="tips_container"></div>
        <input type="button" value="Назад" onclick="demoPreviousStep()">
        <input type="button" value="Дальше" onclick="demoNextStep()">
    </div>
    {% load staticfiles %}
    <script src="{% static 'StudentSite/scripts/demo_scripts.min.js' %}"></script>
    <script>demoInitiateScripts({{ json_demo_data|safe }})</script>
    <script>graphInitiate({{ json_elements|safe }})</script>
    <script>propertiesChangeVisibility(false)</script>
    <script>matrixPrepareForDemo()</script>
{% endblock %}