<nav>
    {% block nav_pane %}
    <div>
        <h1>Бинарные отношения</h1>
    </div>
    {% endblock %}
    {% if not request.user.is_authenticated %}
    <div class = 'login-form'>
        {% include 'StudentSite/forms/login_form.html' %}
        <a href="{% url 'student_site:registration' %}">Регистрация</a>
    </div>
    {% else %}
    <div class = "logged-in-user">
        <h4>{{ request.user }}</h4>
        <form action="{% url 'student_site:logout_action' %}" method="get">
            <input type="submit" value="logout">
        </form>
    </div>
    {% endif %}
</nav>