<nav id="index_header">
    {% block nav_pane %}
        {% load staticfiles %}
    <link href="{% static 'StudentSite/stylesheets/index_header_stylesheet.css' %}" rel="stylesheet" type="text/css" />
    <div id="site_name">
        <h1>Бинарные отношения</h1>
    </div>
    {% endblock %}
    {% if not request.user.is_authenticated %}
    <div class = 'login-form'>
        {% include 'StudentSite/forms/login_form.html' %}
        <a href="{% url 'student_site:registration' %}">Регистрация</a>
    </div>
    {% else %}
    <div class = "logged-in-user">
        <h4>Здравствуйте, {{ request.user.first_name }}</h4>
        <form action="{% url 'student_site:logout_action' %}" method="get">
            <input type="submit" value="Выйти">
        </form>
    </div>
    {% endif %}
</nav>