<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    {# Данный заголовок можно будет заменить в дочернем шаблоне #}
    {% block title %}<title>Бинарные отношения</title>{% endblock %}
</head>
<body>
    {% block header %}{% include 'StudentSite/header_index.html' %}{% endblock %}
    <hr />
    {% block body %}
        <ul>
            <li><a href="{% url 'student_site:demo' %}">Демо-режим</a></li>
            <li><a href="{% url 'student_site:training' %}">Тренировка</a></li>
            <li><a href="{% url 'student_site:control' %}">Контроль</a> </li>
        </ul>
    {% endblock %}
</body>
</html>