{% extends 'StudentSite/index.html' %}
{% block header %}{% include 'StudentSite/header_base.html' %}{% endblock %}
{% block body %}
    {% load staticfiles %}
    <h4>{{ task.elements }}</h4>
    <h4>{{  task.to_human_readable }}</h4>
    {% include 'StudentSite/forms/test_form.html' %}
    {% if result == True %}
        <h2>Правильное решение!</h2>
        <a href="{% url 'student_site:test_warshalls' %}">Перейти к алгоритму Уоршелла</a>
    {% elif result == False %}
        <h2>Решено с ошибками!</h2>
    {% endif %}
    <script src="{% static 'StudentSite/test_scripts.js' %}" >fillForm()</script>
{% endblock %}