{% extends 'StudentSite/index.html' %}
{% block title %}<title>Алгоритм Уоршалла</title>{% endblock %}
{% block header %}{% include 'StudentSite/header_base.html' %}{% endblock %}
{% block body %}
    {{ task.to_human_readable }}
    {% include 'StudentSite/forms/warshalls_train_form.html' %}
    {% load staticfiles %}

    <script src="{% static 'StudentSite/scripts/warshalls_scripts.min.js' %}"></script>
    
    {% if result == True %}
        <h2>Правильное решение!</h2>
        {% if is_of_order == True %}
            <form action="{% url 'student_site:train_topological_sort' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task_id }}">
                <input type="submit" value="Перейти к топологической сортировке">
            </form>
        {% else %}
            <a href="{% url "student_site:index" %}">Завершить выполнение контроля</a>
        {% endif %}
    {% elif result == False %}
        <h2>Решено с ошибками!</h2>
        <script>highlightErrorsTableAndProperties()</script>
    {% endif %}

{% endblock %}

