{% extends 'StudentSite/index.html' %}
{% block title %}<title>Алгоритм Уоршалла</title>{% endblock %}
{% block header %}{% include 'StudentSite/header_base.html' %}{% endblock %}
{% block body %}
    <h4>{{ task.warshalls_text }}</h4>

    {% include 'StudentSite/components/matrix.html' %}
    <script>matrixFromAnswersString({{ matrix_solve|safe }})</script>
{#    {% include 'StudentSite/components/graph.html' %}#}
    <script>matrixDeactivate()</script>
    <hr style="clear: both" />
    {% include 'StudentSite/components/warshalls.html' %}
    <hr style="clear: both" />
    <script>warshallsInitiateScripts({{ task.elements }}, {{ matrix_solve|safe }})</script>
    <script>matrixSetPrimaryMatrix("warshalls_primary_matrix")</script>

    {% if partial_solve != None %}
        <script>warshallsFromAnswersString({{ partial_solve|safe }})</script>
    {% endif %}

    {% if result == True %}
        <h4>Верное решение</h4>
        <form {% if is_control == True %}
                action="{% url 'student_site:control_topological' %}"
                {% elif is_control == False %}
                action="{% url 'student_site:training_topological' %}"
                {% endif %}
                method="post">
            {% csrf_token %}
            <input type="hidden" name="relation_id" value="{{ relation_id }}" />
            <input type="submit" value="Перейти к топологической сортировке" />
        </form>
    {% else %}
        <form {% if is_control == True %}
            action="{% url 'student_site:control_warshalls_check' %}"
                {% elif is_control == False %}
                action="{% url 'student_site:training_check_warshalls' %}"
                {% endif %}
                onsubmit="return warshallsGetReadyToSubmit(this)"
                method="post">
            {% csrf_token %}
            <input type="hidden" name="answers_string" value="" />
            <input type="hidden" name="relation_id" value="{{ relation_id }}" />
            <input type="submit" value="Проверить" />
        </form>
        {% if result == False %}
            <h3>Решено с ошибками</h3>
            {% if is_control == False %}
                <script>warshallsHighlightErrors({{ correct_warshalls|safe }})</script>
            {% endif %}
        {% endif %}
    {% endif %}
    {% load staticfiles %}
    <script src="{% static 'StudentSite/scripts/properties_page_scripts.js' %}"></script>
{% endblock %}