<div id="properties_inputs">
    <div class="property_container" id="properties-reflexivity">
        <label>
            Рефлексивное
            <input type="radio" name="reflexivity" value="reflexive">
        </label>
        <label>
            Нерефлексивное
            <input type="radio" name="reflexivity" onclick="return propertiesIsNotDemo" value="non-reflexive">
        </label>
    </div>

    <div class="property_container" id="properties-anti-reflexivity">
        <label>
            Антирефлексивное
            <input type="radio" name="anti-reflexivity" onclick="return propertiesIsNotDemo" value="anti-reflexive">
        </label>
        <label>
            Неантирефлексивное
            <input type="radio" name="anti-reflexivity" onclick="return propertiesIsNotDemo" value="non-anti-reflexive">
        </label>
    </div>

    <div class="property_container" id="properties-symmetry">
        <label>
            Симметричное
            <input type="radio" name="symmetry" onclick="return propertiesIsNotDemo" value="symmetric">
        </label>
        <label>
            Несимметричное
            <input type="radio" name="symmetry" onclick="return propertiesIsNotDemo" value="non-symmetric">
        </label>
    </div>

    <div class="property_container" id="properties-asymmetry">
        <label>
            Асимметричное
            <input type="radio" name="asymmetry" onclick="return propertiesIsNotDemo" value="asymmetric">
            </label>
        <label>
            Неасимметричное
            <input type="radio" name="asymmetry" onclick="return propertiesIsNotDemo" value="non-asymmetric">
        </label>
    </div>

    <div class="property_container" id="properties-antisymmetry">
        <label>
            Антисимметричное
            <input type="radio" name="antisymmetry" onclick="return propertiesIsNotDemo" value="antisymmetric">
        </label>
        <label>
            Неантисимметричное
            <input type="radio" name="antisymmetry" onclick="return propertiesIsNotDemo" value="non-antisymmetric">
        </label>
    </div>

    <div class="property_container" id="properties-transitivity">
        <label>
            Транзитивное
            <input type="radio" name="transitivity" onclick="return propertiesIsNotDemo" value="transitive">
        </label>
        <label>
            Нетранзитивное
            <input type="radio" name="transitivity" onclick="return propertiesIsNotDemo" value="non-transitive">
        </label>
    </div>

    <div class="property_container" id="properties-equivalency">
        <label>
            Отношение эквивалентности
            <input type="radio" name="equivalency" onclick="return propertiesIsNotDemo" value="equivalent">
        </label>
        <label>
            Не отношение эквивалентности
            <input type="radio" name="equivalency" onclick="return propertiesIsNotDemo" value="non-equivalent">
        </label>
    </div>

    <div class="property_container" id="properties-order">
        <label>
            Отношение порядка
            <input type="radio" name="order" value="of-order" onclick="propertiesOrderChanged(true); return propertiesIsNotDemo" />
        </label>
        <label>
            Не отношение порядка
            <input type="radio" name="order" value="not-of-order" onclick="propertiesOrderChanged(false); return propertiesIsNotDemo" />
        </label>
    </div>

    <div id="optional_order_properties" style="display: none">
        <div class="property_container" id="properties-order-strict">
            <label>
                Строгого порядка
                <input type="radio" name="order-strict" onclick="return propertiesIsNotDemo" value="strict">
            </label>
            <label>
                Нестрогого порядка
                <input type="radio" name="order-strict" onclick="return propertiesIsNotDemo" value="not-strict">
            </label>
        </div>

        <div class="property_container" id ="properties-order-linearity">
            <label>
                Линейного порядка
                <input type="radio" name="order-linearity" onclick="return propertiesIsNotDemo" value="linear">
            </label>
            <label>
                Частичного порядка
                <input type="radio" name="order-linearity" onclick="return propertiesIsNotDemo" value="partial">
            </label>
        </div>
    </div>
</div>
{% load staticfiles %}
<link href="{% static 'StudentSite/stylesheets/components/properties_stylesheet.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'StudentSite/scripts/components/properties_scripts.js' %}"></script>
<script>propertiesInitiateScripts("properties_inputs")</script>
