<div style="clear: both; overflow: hidden; display: block">
    Чтобы осуществить топологическую сортировку, Вам необходимо выбрать минимальный элемент (нулевая строка или строка с единственной единицей на позиции с одинаковыми индексами), поставить единицы на нужных позициях в выделенном столбце и исключить этот элемент с помощью кнопки "Вычеркнуть элемент". Повторить эти действия для каждого элемента
</div>
<table id="ts_table">
    <tr>
        <td>ab/cd</td>
        {% for elem in task.elements %}
            <td onclick="tsSelectElement({{ forloop.counter0 }})">{{ elem }}</td>
        {% endfor %}
    </tr>
    {% for elem in task.elements %}
        <tr>
            <td onclick="tsSelectElement({{ forloop.counter0 }})">{{ elem }}</td>
            {% for elem2 in task.elements %}
                <td>
                    <input type="text"
                           class="ts_element"
                           name="{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                           id="ts{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                           title="ts_input"
                           value="0"
                           onclick="tsElementClicked(this)"
                           readonly/>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<input type="button" id="ts_cross_button" onclick="tsCrossElement()" value="Исключить элемент">

<br style="clear: both">

{% load staticfiles %}
<script src="{% static "StudentSite/scripts/topological_sort_scripts.js" %}"></script>
<link href="{% static "StudentSite/stylesheets/components/topological_sort_stylesheet.css" %}" type="text/css" rel="stylesheet" />
<script src="{% static "StudentSite/scripts/components/topological_sort_scripts.js" %}"></script>

<script>tsInitiateScripts({{ task.elements }})</script>