<form action="{% block check_action %}{% endblock %}" method="post" id="answers-form" onsubmit="return validateForm()">
    {% load staticfiles %}
    <link href="{% static 'StudentSite/stylesheets/task_form_stylesheet.css' %}" rel="stylesheet" type="text/css" />
    {% csrf_token %}
        <table id="task_table">
            <tr>
                <td>ab/cd</td>
                {% for elem in task.elements %}
                <td>{{ elem }}</td>
                {% endfor %}
            </tr>
            {% for elem in task.elements %}
                <tr>
                    <td>{{ elem }}</td>
                    {% for elem2 in task.elements %}
                        <td>
                            <input type="checkbox"
                                   id="checkbox{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                                   name="{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                                   title="{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" {% if partial_solve %} checked {% endif %}/>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <div class="radio-input" id="radio-reflexivity">
            <label>
                Рефлексивное
                <input type="radio" name="reflexivity" value="reflexive">
            </label>
            <label>
                Нерефлексивное
                <input type="radio" name="reflexivity" value="non-reflexive">
            </label>
        </div>

        <div class="radio-input" id="radio-anti-reflexivity">
            <label>
                Антирефлексивное
                <input type="radio" name="anti-reflexivity" value="anti-reflexive">
            </label>
            <label>
                Неантирефлексивное
                <input type="radio" name="anti-reflexivity" value="non-anti-reflexive">
            </label>
        </div>

        <div class="radio-input" id="radio-symmetry">
            <label>
                Симметричное
                <input type="radio" name="symmetry" value="symmetric">
            </label>
            <label>
                Несимметричное
                <input type="radio" name="symmetry" value="non-symmetric">
            </label>
        </div>

        <div class="radio-input" id="radio-asymmetry">
            <label>
                Асимметричное
                <input type="radio" name="asymmetry" value="asymmetric">
            </label>
            <label>
                Неасимметричное
                <input type="radio" name="asymmetry" value="non-asymmetric">
            </label>
        </div>

        <div class="radio-input" id="radio-antisymmetry">
            <label>
                Антисимметричное
                <input type="radio" name="antisymmetry" value="antisymmetric">
            </label>
            <label>
                Неантисимметричное
                <input type="radio" name="antisymmetry" value="non-antisymmetric">
            </label>
        </div>

        <div class="radio-input" id="radio-transitivity">
            <label>
                Транзитивное
                <input type="radio" name="transitivity" value="transitive">
            </label>
            <label>
                Нетранзитивное
                <input type="radio" name="transitivity" value="non-transitive">
            </label>
        </div>

        <div class="radio-input" id="radio-equivalency">
            <label>
                Отношение эквиваленции
                <input type="radio" name="equivalency" value="equivalent">
            </label>
            <label>
                Не отношение эквиваленции
                <input type="radio" name="equivalency" value="non-equivalent">
            </label>
        </div>

        <div class="radio-input" id="radio-order">
            <label>
                Отношение порядка
                <input type="radio" name="order" value="of-order" onclick="orderChecked(true)" />
            </label>
            <label>
                Не отношение порядка
                <input type="radio" name="order" value="not-of-order" onclick="orderChecked(false)" />
            </label>
        </div>

        <div class="radio-input" id="radio-order-strict" style="display: none">
            <label>
                Строгого порядка
                <input type="radio" name="order-strict" value="strict">
            </label>
            <label>
                Нестрогого порядка
                <input type="radio" name="order-strict" value="not-strict">
            </label>
        </div>

        <div class="radio-input" id ="radio-order-linearity" style="display: none">
            <label>
                Линейного порядка
                <input type="radio" name="order-linearity" value="linear">
            </label>
            <label>
                Частичного порядка
                <input type="radio" name="order-linearity" value="partial">
            </label>
        </div>

        <input type="hidden" name="task_id" value="{{ task_id }}">
        <input type="submit" value="Проверить" id="task-form-submit">
    </form>