<table id="task_table">
    <tr>
        <td>ab/cd</td>
        {% for elem in task.elements %}
            <td>{{ elem }}</td>
        {% endfor %}
    </tr>
    {% for elem in task.elements %}
        <tr>
            <td>{{ elem }}</td>
            {% for elem2 in task.elements %}
                <td>
                    <input type="checkbox"
                           id="checkbox{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                           title="{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                            disabled="disabled"/>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<h3>Составьте минимальную транзитивную матрицу, согласованную с данной</h3>
<table id="warshalls_table">
    <tr>
        <td>ab/cd</td>
        {% for elem in task.elements %}
            <td>{{ elem }}</td>
        {% endfor %}
    </tr>
    {% for elem in task.elements %}
        <tr>
            <td>{{ elem }}</td>
            {% for elem2 in task.elements %}
                <td>
                    <input type="checkbox"
                           id="warshall_checkbox_{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                           title="warshall_{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" />
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<form action="{% block warshall_check_action %}{% endblock %}" method="post" id="warshall_answers-form" onsubmit="formPOST()">
    {% csrf_token %}
    <input type="hidden"
           name="warshall_check"
           value=""
           id="warshall_check">
    <input type="hidden" name="task_id" value="{{ task_id }}" />
    <input type="submit" value="Проверить" />
</form>